$main: 		  #34314c;
$secondary:   #9592ad;
$border:      #d9dee9;
$white: 	  #FFFFFF;

$highlight_1: #fd7473;
$highlight_2: #f3c951;
$highlight_3: #47b8e0;
$highlight_4: #9f68d0;

body {
	font-family: "Raleway", sans-serif;
	br {
		display: block;
   		margin: 3em 0;
   		content: " ";
	}
}

.border {
	height: 6px;
	border: 0;
	background-color: $highlight_1;
	background-image: 
		linear-gradient(
			to right,
			$highlight_1,
			$highlight_1 25%,
			$highlight_2 25%,
			$highlight_2 50%,
			$highlight_3 50%,
			$highlight_3 75%,
			$highlight_4 75%,
			$highlight_4 100%,
			$highlight_4 100%
			);
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%;	
}

.wrapper {
	width: 750px;
	max-width: 90%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	margin: 5em 0 3em 0;
}

.logo {
	img {
		width: 75px;
		float: left;
		margin-top: -1em;
	}
	h1 {
		float: left;
		margin: 0 0 0 1em;
		text-transform: uppercase;
		font-size: 1.35em;
		padding-top: 1.1em;
		color: $main;
		span {
			font-weight: 400;
		}
	}
}

.menu {
	display: none;
}

.main_nav {
	float: right;
	padding-top: 1.75em;
	a {
		text-decoration: none;
		margin-left: 1em;
		color: $secondary;
	}
	.current {
		font-weight: 700;
		color: $main;
	}
}

#timeline {
	width: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	&:after {
		content: " ";
		width: 1px;
		background: 1px $border;
		height: 90%;
		position: absolute;
		top: 3em;
		left: 3em;
		z-index: 0;
	}
	a {
		text-decoration: none;
	}
	.listing {
		background: $white;
		border: 1px solid $border;
		border-radius: .3em;
		padding: 1em;
		margin-bottom: 1em;
		position: relative;
		z-index: 1;
		display: table;
		width: 96%;
		img, .info, .job_type {
			display: table-cell;
			vertical-align: middle;
			font-size: .9em;
			color: $secondary;
		}
		.image_wrapper {
			width: 60px;
			img {
				width: 60px;
				display: block;
				margin: 0 auto;
				border-radius: .25em;
			}
		}
		.info {
			line-height: 1.25em;
			width: 640px;
			padding-left: 25px;
			.job_title {
				font-weight: 700;
				color: $main;
				font-size: 1.5em;
			}
			.job_info {
				color: $secondary;
				display: block;
				span {
					margin: 0 .75em;
				}
			}
		}
		.job_type {
			text-transform: uppercase;
			font-weight: 700;
			font-size: .75em;
			position: relative;
			white-space: nowrap;
			padding-top: .6em;
			width: 100px;
			&:before {
				content: " ";
				background-color: $highlight_1;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				position: absolute;
				left: -20px;
				top:  27px;
			}
		}
		.full_time {
			color: $highlight_1;
			&:before {
				background: $highlight_1;
			}
		}
		.part_time {
			color: $highlight_2;
			&:before {
				background: $highlight_2;
			}
		}
		.freelance {
			color: $highlight_3;
			&:before {
				background: $highlight_3;
			}
		}
		.contract {
			color: $highlight_4;
			&:before {
				background: $highlight_4;
			}
		}
		transition: all .3s ease-in-out;
		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1);
		}
	}
	.date {
		display: inline-block;
		padding: 1em 0;
		width: 100px;
		background: $white;
		border: 1px solid $border;
		border-radius: 3em;
		font-size: .8em;
		font-weight: 700;
		text-align: center;
		z-index: 2;
		position: relative;
		margin: 1em 0 2em 0;
	}

	.accordion {
	    cursor: pointer;
	    transition: 0.4s;
	}

	.panel {
	    display: none;
	    background: $white;
		border: 1px solid $border;
		border-radius: .3em;
		padding: 1em;
		margin-bottom: 1em;
		position: relative;
		z-index: 1;
		h3 {
			color: $secondary;
			font-weight: 700;
		}
		b {
			font-weight: 550;
		}
		p {
			color: $secondary;	
			
		}
		.apply {
			border: 1px solid $border;
			border-radius: .3em;
			padding: .8em;
			margin: 3em 0 1em 0;
			background-color: $white;
			text-decoration: none;
			text-transform: uppercase;
			color: $main;
			font-weight: 700;
			margin-left: 42.25%;
			a {
				color: $main;
				text-decoration: none;
			}
			&:hover {
				color: $white;
				background-color: $highlight_3;
			}
		}
	}
}

.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 4em 0 5em 0;
	a, .previous_page, .current, .next_page {
		padding: 0.75em 1em;
		margin: 0 .25em;
		border-radius: .15em;
		line-height: 1.25em;
		text-decoration: none;
		background: #EDEFF5;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $main;
		&:hover {
			background: $highlight_3;
			color: $white;
		}
	}
	.current {
		background: $highlight_3;
		color: $white;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: #EDEFF5;
		}
	}
}

#main_footer {
	padding: 1.5em 5%;
	border-top: 1px solid $border;
	.copyright {
		float: left;
		font-size: .9em;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $main;
			margin-left: 1em;
			padding-top: .2em;
			&:hover {
				color: $highlight_3;
			}	
		}
	} 
}

@media only screen and (max-width: 768px) {
	.main_header {
	margin: 3em 0;
}

.logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	img {
		float: none;
	}
	h1 {
		float: none;
		margin: 0;
		font-size: 1.1em;
	}
}

.main_nav {
	float: none;
	text-align: center;
	a {
		margin: 0 .5em;
	}
}
}

@media only screen and (max-width: 600px) {
	.main_nav {
		display: none;
	}
	.main_nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			text-decoration: none;
			margin-left: 1em;
			margin-top: 4em;
			color: $secondary;
			border-bottom: 1px solid $border;
			&:last-child {
				border-bottom: none;
			}
		}
		.current {
			font-weight: 300;
			color: $secondary;
		}
	}
	.menu {
		display: block;
		float: right;
		i {
			font-size: 1.5em;
			color: $main;
			padding-top: .6em;
		}
	}

	.logo {
		display: block;
		margin: 0 auto;
		text-align: center;
		img {
			float: left;
		}
		h1 {
			float: left;
			margin: 0;
			font-size: 1.1em;
		}
	}

	#timeline {
		.listing {
			.image_wrapper {
				margin-right: 1em;
				img {
					width: 50px;
				}
			}
			.info {
				width: 100%;
				padding: .4em 0 0 0;
				.job_title {
					font-size: 1.25em;
				}
			}
			.job_type {
				display: none;
			}
		}
	}
}